<form action="#" method="" class="login-form">       
    <% 
     formularioData.campos.forEach( (elemento, indice) => { %>
     <div class="<%= elemento.nombre %>">
         <% if (elemento.tipo != "button")
            { %>
            <label for="<%= elemento.nombre %>"><%= elemento.label %></label>
            <input type="<%= elemento.tipo %>" name="<%= elemento.nombre %>">
         <% } %>         
         <% if (elemento.tipo == "button")
            { %>                
            <a href="<%= elemento.enlace %>">         
                <button type="<%= elemento.subtipo %>" name="<%= elemento.nombre %>">
                    <%= elemento.label %>
                </button>                
            </a>
         <% } %>         
     </div>
    <% }) %> 
 </form>