<!-- Archivo parcial para mostrar un producto del carrito de compras -->

<article>
    <ul class="carrito-producto">
        <li class="carrito-imagen-container">
            <a href="/products/<%= producto.id %>"><img src="/images/products/<%= producto.images %>" alt="<%= producto.description %>"></a>
        </li>
        <div class="carrito-resto-container">
            <li class="carrito-description"><%= producto.description %> <%= producto.brand %> <%= producto.colors %></li>
            <li class="carrito-trash-icon">
                <form action="/products/productCartDeleteItem" method="POST">                                
                <button class="carrito-btn-trash" type="submit">
                    <i class="fas fa-trash"></i>
                </button>
                <input type="hidden" name="id" id="id" value="<%=producto.id%>">
                </form>
            </li>           
            <li class="carrito-precio">$ <%= toThousand(producto.price) %></li>  
            <li class="carrito-unidades">
                <div class="carrito-unidades-subcontainer">
                    <button class="common-btn-white">
                        <i class="fas fa-minus"></i>
                    </button><span class="carrito-number"> 1 </span>
                    <button class="common-btn-white">
                        <i class="fas fa-plus"></i>
                    </button>
                </div>
            </li>                                      
        </div>
    </ul>
</article>