<%- include('../partials/head') %>
<%- include('../partials/header') %>

<main class="userAccount">

<h2 class="register-bienvenidos">Administrador: Edicion de usuarios </h2>
<h3 class="register-bienvenidos"> Usuario: <%= locals.user.username %> </h3>
<h3 class="register-bienvenidos"> Categoria: <%= user.usercategory.name %> </h3>
 
<div class="img-container">
  <img src="/images/avatars/<%= user.avatar %>">
</div> 

<div class="register-formulario">
    <form action="/users/edit/<%= user.id %>?_method=PATCH" method="POST" class="reg-form" enctype="multipart/form-data">      
      <div>
        <label for="firstName">Nombre</label>
        <input type="text" name="firstName" id="firstName" value="<%=user.first_name%>"/>       
      </div>
      <div>
        <label for="lastName">Apellido</label>
        <input type="text" name="lastName" id="lastName" value="<%=user.last_name%>"/>       
      </div>
      <div>
        <label for="email">E-mail</label>
        <input type="email" name="email" value="<%= user.email %>"/>        
      </div>
      <div>
        <label for="bornDate">Fecha de nacimiento</label>
        <input type="date" name="bornDate" id="bornDate" value="<%= user.born_date%>"/>
      </div> 
    <div>
     <label for="usergender"><h3>Genero</h3></label>
            <select name="usergender" id="usergender">                
            <% genders.forEach( g => { %>
                <option value="<%= g.id %>" <%= (g.id == user.usergender.id) ? "selected" : "" %> >
                    <%= g.name %>
                </option>
            <% }) %>
            </select>
      </div>            
      <div>
      <label for="usercategory"><h3>Categoria</h3></label>
            <select name="usercategory" id="usercategory">                
            <% categories.forEach( c => { %>
                <option value="<%= c.id %>" <%= (c.id == user.usercategory.id) ? "selected" : "" %> >
                    <%= c.name %>
                </option>
            <% }) %>
            </select>
      </div>      
      <div>
        <label for="user">Usuario</label>
        <input type="text" name="user" id="user" disabled value='<%= locals.user.username %>' class="editInput">        
      </div>

      <div><label for="avatar">Selecciona tu avatar</label>
        <input type="file" name="avatar" id="avatar">
    </div>     
      

     <!-- <div><input type="checkbox" id="change_password" name="change_password">
       <label for="change_password"> ¿ Editar Contraseña ? </label>
    </div>
      <div></div>
      <div>              
        <label for="password"> Password</label>
        <input type="password" name="password" id="password" value=""/>       
      </div>
      <div></div>
      <div>
        <label for="repassword">Repite tu Password</label>
        <input display="display: block" type="password" name="repassword" id="repassword" value=""/>       
      </div> -->
      <button class="register" type="submit">EDITAR</button>
      
    </form>   

  </div> 

</main>

<%- include('../partials/footer') %>