<%- include('../partials/head') %>
<%- include('../partials/header') %>

    <main class="login-main">
        <div class="wellcome">
            <h3><%= formularioData.titulo %></h3>
        </div>
    
    <%- include('../partials/formularioUsers') %>

    </main>

<%- include('../partials/footer') %>
