<%- include('../partials/head') %>
<%- include('../partials/header') %>

    <main class="login-main">
        <div class="wellcome">
            <h3>Crear Producto</h3>
        </div>
    
        <form action="/products" method="POST" class="product-form" enctype="multipart/form-data">       
            <label for="title">Nombre</label>
            <input type="text" name="title" id="title">
            
            <!-- <label for="brand">Marca</label>
            <input type="text" name="brand" id="brand"> -->

            <label for="description">Descripción</label>
            <input type="text" name="description" id="description">
            
            <label for="price">Precio</label>
            <input type="text" name="price" id="price">

            <label for="colors">Colores</label>
            <input type="text" name="colors" id="colors">

            <label for="size">Talles</label>
            <input type="text" name="size" id="size">
            
            <label for="stock">Stock</label>
            <input type="number" name="stock" id="stock">
            
            <label for="gender">Genero</label>
            <select name="gender" id="gender">                
            <% genders.forEach( p => { %>
                <option value="<%= p.id %>">
                    <%= p.name %>
                </option>
            <% }) %>
            </select>

            <label for="brand">Marca</label>
            <select name="brand" id="brand">                
            <% brands.forEach( b => { %>
                <option value="<%= b.id %>">
                    <%= b.name %>
                </option>
            <% }) %>
            
            <!-- <div class="genderOptions">
                <div class="masculino">
                    <label for="gender">Masculino</label>
                    <input type="radio" name="gender" id="gender" value="Masculino">
                </div>
                <div class="femenino">
                    <label for="gender">Femenino</label>
                    <input type="radio" name="gender" id="gender" value="Femenino">
                </div>
                <div class="unisex">
                    <label for="gender">Unisex</label>
                    <input type="radio" name="gender" id="gender" value="Unisex">
                </div>
            </div> -->

            <label for="images">Imágenes</label>
            <input type="file" name="images" id="images" accept=".jpg, .jpeg, .png">

            <button type="submit">CREAR</button>
         </form>

    </main>

<%- include('../partials/footer') %>