<%- include('../partials/head') %>
<%- include('../partials/header') %>

    <main class="login-main">
        <div class="wellcome">
            <h3>EDITAR PRODUCTO</h3>
        </div>

        <form action="/products/edit/<%= selectedProduct.id %>?_method=patch" method="POST" class="product-form" enctype="multipart/form-data">       
            <label for="title">Nombre</label>
            <input type="text" name="title" id="title" value="<%=selectedProduct.nombre%>">
            
            <label for="marca">Marca</label>
            <input type="text" name="marca" id="marca" value="<%=selectedProduct.marca%>">

            <label for="description">Descripción</label>
            <input type="text" name="description" id="description" value="<%=selectedProduct.descripcion%>">
            
            <label for="precio">Precio</label>
            <input type="text" name="precio" id="precio" value="<%=selectedProduct.precio%>">

            <label for="colors">Colores</label>
            <input type="text" name="colors" id="colors" value="<%=selectedProduct.color%>">

            <label for="size">Talles</label>
            <input type="text" name="size" id="size" value="<%=selectedProduct.tallesExistentes%>">
            
            <label for="stock">Stock</label>
            <input type="number" name="stock" id="stock" value="<%=selectedProduct.descripcion%>">
            
            <div class="genderOptions">
                <div class="masculino">
                    <label for="gender">Masculino</label>
                    <input type="radio" name="gender" id="gender" value="Masculino" 
                    <% if (selectedProduct.para === 'Hombres') { %> 
                    checked <% } %> >
                </div>
                <div class="femenino">
                    <label for="gender">Femenino</label>
                    <input type="radio" name="gender" id="gender" value="Femenino"
                    <% if (selectedProduct.para === 'Mujeres') { %> 
                        checked <% } %> >
                </div>
                <div class="unisex">
                    <label for="gender">Unisex</label>
                    <input type="radio" name="gender" id="gender" value="Unisex"
                    <% if (selectedProduct.para === 'Unisex') { %> 
                        checked <% } %>>
                </div>
            </div>

            <label for="images">Imágenes</label>
            <input type="file" name="images" id="images" value="../public/images/<%=selectedProduct.imagen%>">
        
            <button type="submit">EDITAR</button>
         </form>

    </main>

<%- include('../partials/footer') %>