<%- include('../partials/head') %>    
<%- include('../partials/header') %>

    <main class="detalle-main">
        <!-- <section>
            <div class="detalle-titulo">Detalle del Producto</div>
        </section>    -->    

        <section>
        <article>
            <ul class="detalle-producto">
                <li class="detalle-imagen-container">
                    <img src="/images/products/<%= producto.image %>" alt="<%= producto.description %>">
                </li>
                <div class="detalle-resto-container-1">
                    <div class="detalle-minifoto">
                        <img src="/images/products/<%= producto.image %>" alt="<%= producto.description %>">
                    </div>
                    <div class="detalle-minifoto">
                        <img src="/images/products/<%= producto.image %>" alt="<%= producto.description %>">
                    </div>                    
                    <div class="detalle-minifoto">
                        <img src="/images/products/<%= producto.image %>" alt="<%= producto.description %>">
                    </div> 
                </div> 
                <div class="detalle-resto-container-2">
                    
                    <% if (tab == 1) { %>
                    <a  class="detalle-descripcion-titulo" href="/products/<%= producto.id %>/1"> <li>Descripción</li></a>
                    <a  class="detalle-talles-titulo-gris" href="/products/<%= producto.id %>/2"> <li>Talles</li></a>                   
                    <div class="detalle-descripcion-container">
                        <div class="detalle-descripcion"><%= producto.description %></div>
                        <div class="detalle-descripcion">Marca: <%= producto.brand.name %></div>
                        <div class="detalle-descripcion">Genero: <%= producto.productgender.name %></div>   
                        <br>

                        <% if (producto.colors.length > 0) { %>
                        <div class="detalle-descripcion">Colores Disponibles</div>   
                        <% } %>
                        <% for (let i=0; i < producto.colors.length; i++)
                        { %>
                        <div class="detalle-descripcion">Color Nº <%= i+1 %> : <%= producto.colors[i].name %></div>                    
                        <% } %>                      
                    </div>
                    <% } %>
                    <% if (tab == 2) { %>
                        <a class="detalle-descripcion-titulo-gris" href="/products/<%= producto.id %>/1"><li>Descripción</li></a>
                        <a class="detalle-talles-titulo" href="/products/<%= producto.id %>/2"><li>Talles</li></a>    
                        <div class="detalle-descripcion-container"> 
                                                      
                            <% for (let i=0; i < producto.productsizecolors.length ; i++)
                            { %>
                            Talle <%= sizes[producto.productsizecolors[i].size_id-1].num %>
                            Color <%= colors[producto.productsizecolors[i].color_id-1].name %>     
                            Stock <%= producto.productsizecolors[i].stock %>       
                            <br>
                            <% 
                        
                        } %>

                        </div>               
                        
                        <% } %>                                     
                <% if (locals.logged) { %>
                   
                    <li class="detalle-botones-inferiores">
                        <form action="/products/productCartAddItem" method="POST">                                
                            <div class="detalle-botones-inferiores-subcontainer">                                
                                <button type="button" class="detalle-btn-black add_to_cart" data-id='<%=producto.id%>'> AGREGAR AL CARRITO </button>
                                <input type="hidden" name="product_title" class='product_title' data-title='<%=producto.title%>'>
                                </div>
                            <input type="hidden" name="id" id="id" value="<%=producto.id%>">
                        </form>

                        <div class="detalle-botones-inferiores-subcontainer">
                            <button class="detalle-btn-black"> AGREGAR A LA WISHLIST </button>                    
                        </div>
                    
                        <div class="detalle-botones-inferiores-subcontainer">
                            <a href="/products/edit/<%=producto.id%>"><button class="detalle-btn-black"> EDITAR </button></a>                        
                        </div>
                        <div class="detalle-botones-inferiores-subcontainer">
                            <form action="/products/<%= producto.id %>?_method=DELETE" method="POST">
                                <button type="submit" class="detalle-btn-black">ELIMINAR</button>
                            </form>
                        </div>
                    
                    </li>                   
                    
                </div><% } %>
            </ul>
            
        </article>

    </main>

    <script src='/scripts/localStorage.js'></script>

<%- include('../partials/footer') %>