<%- include('../partials/head') %>
<%- include('../partials/header') %>

<% if (productos.length > 0) { %>

    <main class="cards"> 
    
    <% productos.forEach(function(producto) { %>
      
        <a href="/products/<%=producto.id%>/1">
            <div class="card">
                <div class="cardImg">
                    <img src="/images/products/<%= producto.image %> " alt="">
                    <i class="wishlist far fa-heart"></i>
                    <i class="wishlist-hover fas fa-heart"></i>
                </div>
                <div class="cardBody">
                    <h3><%= producto.title %> </h3>
                    <h5>$<%= producto.price %> </h5>
                    <h5>Marca: <%= producto.brand.name %> </h5>
                    <h5>Genero: <%= producto.productgender.name %> </h5>
                    <% if (producto.sizes.length > 0 && producto.colors.length > 0) { let textoTalle = "Talles: ";  %>
                    <h5 style="background-color: lightgreen; color: white; text-align: center;"> CON TALLES Y COLORES </h5>                                          
                    <% } else { %>   
                    <h5 style="background-color: rosybrown; color: white; text-align: center;"> SIN TALLES NI COLORES </h5>
                    <% } %>
                </div>
            </div>
        </a>
    
     <% }); %>

    </main>
    
    <% } else { %>
    
    <p style="text-align: center">Lo siento, no se encontraron los productos que buscabas. </p>
    <%  } %> 

<%- include('../partials/footer') %>