<%- include('../partials/head') %>    
<%- include('../partials/header') %>

    <main class="carrito-main">
        <section>
            <div class="carrito-titulo">Carrito de Compras</div>
        </section>    

        <section>        
            <%  var totalAPagar = 0;
                listaProductos.forEach(producto => { %>
             <%- include('../partials/productCart-article', {producto:producto});  %>
              ;
            
            <% totalAPagar += producto.precio }); %>            
        </section>

        <section class="carrito-total-a-pagar">
            <div> Total a pagar: $ <%= toThousand(totalAPagar) %> </div>
            <button> Pagar </button>                   
        </section>

    </main>

<%- include('../partials/footer') %>
