<%- include('../partials/head') %>
<%- include('../partials/header') %>

    <main class="login-main">
        <div class="wellcome">
            <h3>EDITAR PRODUCTO</h3>
        </div>

        <form action="/products/edit/<%= selectedProduct.id %>?_method=PATCH" method="POST" class="product-form" enctype="multipart/form-data">       
            <label for="title">Nombre</label>
            <input type="text" name="title" id="title" value="<%=selectedProduct.title%>"> 

            <label for="description">Descripción</label>
            <input type="text" name="description" id="description" value="<%=selectedProduct.description%>">
            
            <label for="price">Precio</label>
            <input type="text" name="price" id="price" value="<%=selectedProduct.price%>">      
            
            <!-- HARDCODEANDO START-->

            <% let talles = [37, 38, 39]; 
               let colores = ["Rojo", "Azul", "Verde"]; 
               let existeTalle = [false, false, false];
               let existeColor = [false, false, false];
            
            for (let i=0; i < talles.length; i++)
            for (let o=0; o < selectedProduct.sizes.length; o++)
            if (selectedProduct.sizes[o].num == talles[i])
            {
                existeTalle[i] = true;
            }

            for (let i=0; i < colores.length; i++)
            for (let o=0; o < selectedProduct.colors.length; o++)
            if (selectedProduct.colors[o].name == colores[i])
            {
                existeColor[i] = true;
            }        
            
            %>

            <h3> Talle </h3>
            <div><input type="checkbox" id="size37" name="size" value="1" <%= existeTalle[0]?"checked":""%>> <label for="size37">37</label></div>
            <div><input type="checkbox" id="size38" name="size" value="2" <%= existeTalle[1]?"checked":""%>> <label for="size38">38</label></div>
            <div><input type="checkbox" id="size39" name="size" value="3" <%= existeTalle[2]?"checked":""%>> <label for="size39">39</label></div>
            <h3> Color </h3>
            <div><input type="radio" id="red" name="color" value="1" <%= existeColor[0]?"checked":""%>><label for="red">Rojo</label><br></div>
            <div><input type="radio" id="blue" name="color" value="2" <%= existeColor[1]?"checked":""%>><label for="blue">Azul</label><br></div>
            <div><input type="radio" id="green" name="color" value="3" <%= existeColor[2]?"checked":""%>><label for="green">Verde</label><br></div>
            
            <!-- HARDCODEANDO END -->

            <label for="gender">Genero</label>
            <select name="gender" id="gender">                
            <% genders.forEach( p => { %>
                <option value="<%= p.id %>" <%= (p.id == selectedProduct.productgender.id) ? "selected" : "" %> >
                    <%= p.name %>
                </option>
            <% }) %>
            </select>

            <label for="brand">Marca</label>
            <select name="brand" id="brand">                
            <% brands.forEach( b => { %>
                <option value="<%= b.id %>" <%= (b.id == selectedProduct.brand.id) ? "selected" : "" %> >
                    <%= b.name %>
                </option>
            <% }) %>          

            <label for="images">Imágenes actuales: <%=selectedProduct.images%> </label>
            <input type="file" name="images" id="images" accept=".jpg, .jpeg, .png">
        
            <button type="submit">EDITAR</button>
         </form>

    </main>

<%- include('../partials/footer') %>