<%- include('../partials/head') %>
<%- include('../partials/header') %>

    <main class="login-main">
        <div class="wellcome">
            <h3>EDITAR PRODUCTO</h3>
        </div>

        <form action="/products/edit/<%= selectedProduct.id %>?_method=PATCH" method="POST" class="product-form" enctype="multipart/form-data">       
            <label for="title">Nombre</label>
            <input type="text" name="title" id="title" value="<%=selectedProduct.title%>"> 

            <label for="description">Descripción</label>
            <input type="text" name="description" id="description" value="<%=selectedProduct.description%>">
            
            <label for="price">Precioq</label>
            <input type="text" name="price" id="price" value="<%=selectedProduct.price%>">            
            
            <label for="gender">Genero</label>
            <select name="gender" id="gender">                
            <% genders.forEach( p => { %>
                <option value="<%= p.id %>" <%= (p.id == selectedProduct.productgender.id) ? "selected" : "" %> >
                    <%= p.name %>
                </option>
            <% }) %>
            </select>

            <label for="brand">Marca</label>
            <select name="brand" id="brand">                
            <% brands.forEach( b => { %>
                <option value="<%= b.id %>" <%= (b.id == selectedProduct.brand.id) ? "selected" : "" %> >
                    <%= b.name %>
                </option>
            <% }) %>          

            <label for="images">Imágenes actuales: <%=selectedProduct.images%> </label>
            <input type="file" name="images" id="images" accept=".jpg, .jpeg, .png">
        
            <button type="submit">EDITAR</button>
         </form>

    </main>

<%- include('../partials/footer') %>