<%- include('../partials/head') %>
<%- include('../partials/header') %>

    <main class="login-main">
        <div class="wellcome">
            <h3>Crear Producto</h3>
        </div>
    
        <form action="/products" method="POST" class="product-form" enctype="multipart/form-data">       
            
        <div>
            <label for="title">Nombre</label>
            <input type="text" name="title" id="title"
            value="<%= !!locals.old&&!!old.title?(old.title):''%>"
            >
            <% if (locals.errors && errors.title) { %>
                
                <p class="error-msg"><%= errors.title.msg %></p>      
                
            <% } %>
            <div class="errorMsg"></div>
        </div>
            
            <!-- <label for="brand">Marca</label>
            <input type="text" name="brand" id="brand"> -->
        <div>
            <label for="description">Descripción</label>
            <input type="text" name="description" id="description"
            value="<%= !!locals.old&&!!old.description?(old.description):''%>"
            >
            <% if (locals.errors && errors.description) { %>
                
                <p class="error-msg"><%= errors.description.msg %></p>      
                
            <% } %>
            <div class="errorMsg"></div>
        </div>

        <div>
            <label for="price">Precio</label>
            <input type="text" name="price" id="price"
            value="<%= !!locals.old&&!!old.price?(old.price):''%>"
            >
            <% if (locals.errors && errors.price) { %>
                
                <p class="error-msg"><%= errors.price.msg %></p>      
                
            <% } %>
            <div class="errorMsg"></div>
        </div>
                        
            <h3> Talle </h3>            
            <% var checked = !!locals.old&&!!old.size&&!!old.size.includes("1")?("checked"):"" %>
            <div><input type="checkbox" id="size37" name="size" value="1" <%=checked%>> <label for="size37">37</label></div>
            <% var checked = !!locals.old&&!!old.size&&!!old.size.includes("2")?("checked"):"" %>
            <div><input type="checkbox" id="size38" name="size" value="2" <%=checked%>> <label for="size38">38</label></div>
            <% var checked = !!locals.old&&!!old.size&&!!old.size.includes("3")?("checked"):"" %>
            <div><input type="checkbox" id="size39" name="size" value="3" <%=checked%>> <label for="size39">39</label></div>

            <h3> Color </h3>
            <% var checked = !!locals.old&&!!old.color&&!!old.color.includes("1")?("checked"):"" %>
            <div><input type="checkbox" id="red" name="color" value="1" <%=checked%>> <label for="red">Rojo</label><br></div>
            <% var checked = !!locals.old&&!!old.color&&!!old.color.includes("2")?("checked"):"" %>
            <div><input type="checkbox" id="blue" name="color" value="2" <%=checked%>> <label for="blue">Azul</label><br></div>
            <% var checked = !!locals.old&&!!old.color&&!!old.color.includes("3")?("checked"):"" %>
            <div><input type="checkbox" id="green" name="color" value="3" <%=checked%>> <label for="green">Verde</label><br></div>            
          <div>
            <label for="gender">Genero</label>
            <select name="gender" id="gender">                
            <% var selected = !!locals.old&&!!old.gender?(old.gender):0 %>
            <% genders.forEach( (p, index) => { %>                
                <option value="<%= p.id %>"
                <%= (selected-1==index)?"selected":"" %>
                    >
                    <%= p.name %>
                </option>
            <% }) %>
            </select>
        </div>          
        <div>
            <label for="brand">Marca</label>
            <select name="brand" id="brand">  
            <% var selected = !!locals.old&&!!old.brand?(old.brand):0 %>              
            <% brands.forEach( (b, index) => { %>
                <option value="<%= b.id %>"
                <%= (selected-1==index)?"selected":"" %>
                    >
                    <%= b.name %>
                </option>
            <% }) %>
            </select>
        </div>            
            <!-- <div class="genderOptions">
                <div class="masculino">
                    <label for="gender">Masculino</label>
                    <input type="radio" name="gender" id="gender" value="Masculino">
                </div>
                <div class="femenino">
                    <label for="gender">Femenino</label>
                    <input type="radio" name="gender" id="gender" value="Femenino">
                </div>
                <div class="unisex">
                    <label for="gender">Unisex</label>
                    <input type="radio" name="gender" id="gender" value="Unisex">
                </div>
            </div> -->
        <div class="imagen-producto">
            <label for="images">Imágenes</label>
            <input type="file" name="images" id="images" accept=".jpg, .jpeg, .png, .gif">
            <% if (locals.errors && errors.images) { %>
                
                <p class="error-msg"><%= errors.images.msg %></p>      
                
            <% } %>
            <div class="errorMsg images"></div>
        </div>

            <button type="submit">CREAR</button>
         </form>

    </main>
    <script src="/scripts/validations.js"></script>
<%- include('../partials/footer') %>